@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;

}

nav img {
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

nav div {
    display: flex;
    gap: 12px;
}

.hero {
    height: calc(100% - 62px);
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Martel Sans", sans-serif;
    gap: 20px;
    padding: 0 30px;
}

.hero>:nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: bolder;
    text-align: center;
}

.hero>:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.secImg {
    position: relative;
}

.secImg img {
    width: 44vw;
    position: relative;
    z-index: 10;

}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;

}

.faqbox:hover {
    background-color: rgb(101, 101, 101);
    color: white;

}
.faqbox svg{
    filter: invert(1);
}

.faqbox {
    color: white;
    transition:all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
padding: 30px 0px;
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
@media screen and (max-width: 1000px) {

    nav {
        max-width: 90vw;
    }
    .hero{
        margin-top: 25px;
        flex-direction: column;
    }

    .hero>:nth-child(1) {
        font-size: 28px;
    }

    .hero>:nth-child(2) {
        font-size: 18px;
    }

    .hero>:nth-child(3) {
        font-size: 16px;
    }

    .hero-buttons {
        flex-direction: column;
        width: 100%;
    }

    .main input {
        width: 90%;
        padding: 12px;
    }

    .btn-red {
        width: 90%;
        font-size: 18px;
    }

    .first {
        flex-direction: column;
        text-align: center;
        max-width: 90vw;
    }

    .secImg img {
        width: 90vw;
    }

    .secImg video {
        width: 80%;
        top: 40px;
        left: 10%;
    }

    section.first>div :nth-child(1) {
        font-size: 32px;
    }

    section.first>div :nth-child(2) {
        font-size: 18px;
    }

    .faq h2 {
        font-size: 32px;
    }

    .faqbox {
        max-width: 90vw;
        font-size: 18px;
    }

    footer {
        max-width: 90vw;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
